


<%= link_to 'Create a post', new_post_path %>


<% if @posts.any? %>
 	<% @posts.each do |post| %>
 		<%= post.image %>
 		<%= post.caption %>
 		0 comments
 	<% end%>
 <% else %>
<p>No posts</p>
 <% end %>