
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

<template id="ajax-render-comments">
  <li> {{ comment }} - {{ email }} </li>
</template>

<template id="ajax-render-likes">
  <li> {{ email }} likes this </li>
</template>

<%= link_to 'Create a post', new_post_path %>

<div class="testing">
</div>


<% if @posts.any? %>
	<%= render @posts %>
<% else %>
	<p>No posts</p>
<% end %>