.hated {
	.unhate-link.btn {
		display: inline;
	}

	.hate-link.btn {
		display: none;
	}
}

/* hate refers to an additional class that exists when the like button is displayed */


.unhate-link.btn {
	display: none;
}