.liked {
	.unlike-link {
		display: inline;
	}

	.like-link {
		display: none;
	}
}

/* like refers to an additional class that exists when the like button is displayed */


.unlike-link {
	display: none;
}