

.uploaded-pic {
  max-width: 100%;
  margin-bottom: 20px;
  width: 100%;
}


.form-bits input {
	display: block;
}

.panel.panel-default {
	border-color: #ffffff;
}

.poo {
	font-size: 60px;
}

.like-hate-icons {
	.h5{
		display: inline-block;
	} 
}